.rating {
    display: inline-flex;
    gap: rem(20px);

    &__star {
        fill: none !important;
        stroke: #f9bb1c !important;
        cursor: pointer;

        &--filled {
            fill: #f9bb1c !important;
        }
    }
}
