.rating {
    display: inline-flex;
    gap:rem(20px)
}
.rating__star {
    fill: none !important;
    stroke: #f9bb1c !important;
    cursor: pointer;
}
.rating__star--filled {
    fill: #f9bb1c !important;
}
