.modal-stack {
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #00000090;
    z-index: 1000;
    &--opened {
        display: flex;
    }
    &__content {
        position: relative;
        padding: rem(40px);
        border-radius: var(--modal-radius);
        background-color: var(--color-panel);
    }
    &__validation-message {
        display: none;
        color: var(--accent-danger);
        font-size: rem(18px);
        &--show {
            display: block;
        }
        text-align: center;
    }
    &__input-group {
        display: flex;
        flex-direction: column;
    }
    // &__input-group--mandatory div[data-mandatory] {
    //     display: block;
    // }
    &__input {
        &--invalid {
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        &-text {
            margin-right: rem(20px);
        }
    }
    &__close {
        position: absolute;
        top: rem(-20px);
        right: rem(-30px);
        width: rem(40px);
        height: rem(40px);
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
    }
    &__footer {
        display: flex;
        justify-content: end;
        gap: rem(20px);
    }
}
