.slider{
    position: relative;
     
}
.slider__content{
    width: 100%;
    height: 100%;
    display: inline-flex;
    overflow: hidden;
}
.slider__item{
    flex-shrink: 0;
}
.slider__bullet-list{ 
    position: absolute;
    bottom: 0;
    left: 50%;
    display: inline-flex;
}
.slider__bullet{
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
}