.btn {
    --btn-font-size: 22px;
    --btn-bg: transparent;
    --btn-text: #000000;
    --btn-border: transparent;
    --btn-padding-x: 49px;
    --btn-padding-y: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: var-to-rem(--btn-padding-y) var-to-rem(--btn-padding-x);
    font-size: var-to-rem(--btn-font-size);
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
    border: rem(1px) solid var(--btn-border);
    border-radius: var(--btn-radius);
    background-color: var(--btn-bg);
    color: var(--btn-text);
    cursor: pointer;
    transition:
        transform 0.15s ease,
        background-color 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
    user-select: none;
}
.btn[disabled] {
    cursor: not-allowed;
    opacity: 0.8;
}
.btn.round {
    border-radius: 100%;
    padding: 1rem 1.5rem;
}
.btn--filled {
    border: none;
}

.btn--white {
    --btn-border: var(--white);
    --btn-bg: var(--white);
    --btn-text: var(--black);
}
.btn--success {
    --btn-border: var(--accent-success);
    --btn-bg: var(--accent-success);
    --btn-text: var(--white);
}
.btn--danger {
    --btn-border: var(--accent-danger);
    --btn-bg: var(--accent-danger);
    --btn-text: var(--white);
}
.btn--info {
    --btn-border: var(--accent-info);
    --btn-bg: var(--accent-info);
    --btn-text: var(--white);
}
.btn--warning {
    --btn-bg: var(--accent-warning);
    --btn-text: var(--white);
}

.btn--outlined-white {
    --btn-bg: transparent;
    --btn-text: var(--white);
    --btn-border: var(--white);
}
.btn--outlined-white:hover:not(:disabled),
.btn--outlined-white.active {
    --btn-bg: var(--white);
    --btn-text: var(--black);
    --btn-border: var(--white);
}

.btn--outlined-primary {
    --btn-bg: transparent;
    --btn-text: var(--accent-primary);
    --btn-border: var(--accent-primary);
}
.btn--outlined-primary:hover:not(:disabled),
.btn--outlined-primary.active {
    --btn-bg: var(--accent-primary);
    --btn-text: var(--white);
    --btn-border: var(--accent-primary);
}

.btn--outlined-orange {
    --btn-bg: transparent;
    --btn-text: var(--accent-warning);
    --btn-border: var(--accent-warning);
}
// .btn--outlined-primary:hover:not(:disabled),
// .btn--outlined-primary.active {
//     --btn-bg: var(--accent-warning);
//     --btn-text: var(--white);
//     --btn-border: var(--accent-warning);
// }

.btn-slider {
    position: relative;
    border: 4px solid var(--accent-warning);
    border-radius: 20px;
    display: flex;
    width: 4.5rem;
    cursor: pointer;
    overflow: hidden;
    box-shadow: inset 0 0 11px #00000030;

    &__background {
        position: absolute;
        height: 100%;
        width: 0;
        background-color: #7be17b;
        transition: width 0.3s;
        box-shadow: inset 0 0 11px #00000030;
    }
    input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        z-index: -1;
        pointer-events: none;
    }
    &__pin {
        position: relative;
        left: -2%;
        height: 2rem;
        width: 2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        transition: left 0.3s;
        box-shadow: 0 0 10px #00000060;
    }
    &__false,
    &__true {
        position: absolute;
    }
    &:has(input:checked) &__background {
        width: 100%;
        opacity: 1;
        transition: width 0.4s;
    }
    &:has(input:checked) &__pin {
        left: 53%;
        transition: left 0.3s;
    }
    &:has(input:checked) &__false {
        opacity: 0;
    }
    &:has(input:not(:checked)) &__true {
        opacity: 0;
    }
}
@media (max-width: 1280px) {
    // .btn {
    //     padding: 0.45rem 1rem;
    //     font-size: rem(24px);
    // }
}
