.discussions__container {
    --container: 1500px;
}

.discussions__content {
    display: flex;
    gap: 15rem;
    margin-bottom: rem(200px);
}

.discussions__screen {
    position: relative;
    flex-shrink: 0;
}
.discussions__screen-interface {
    position: relative;
    width: rem(650px);
    z-index: 1;
}
.discussions__screen-background {
    position: relative;
}
.discussions__videocall-layer {
    position: absolute;
    top: 20%;
    left: 1rem;
    display: flex;
    gap: rem(50px);
    z-index: 2;
}

.discussions__screen-background:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 1rem;
    z-index: 3;
}

@supports (backdrop-filter: blur(1px)) {
    .discussions__screen-background:after {
        background: rgba(0, 0, 0, 0.03);
        backdrop-filter: blur(rem(4px)) saturate(130%);
        -webkit-backdrop-filter: blur(rem(4px)) saturate(130%);
    }
}

.discussions__videocall-grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 2rem;
}

.discussions__videocall img {
    height: 110%;
}
.discussions__videocall-main {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.features__videocall--abstract {
    height: rem(193px);
    width: rem(193px);
}
.discussions__videocall-btns {
    display: flex;
}

.discussions__videocall-btns {
    /* display: flex; */
    gap: 1.5rem;
}
.discussions__videocall-btn {
    display: inline-block;
    line-height: normal;
    font-size: rem(16px);
    font-weight: 500;
    width: rem(116px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: var(--btn-radius);
}
.discussions__videocall-btn--info {
    background-color: #3465e1;
    box-shadow: 0px rem(10px) rem(10px) rem(2px) #3465e130;
}

.discussions__videocall-btn--danger {
    background-color: #e13468;
    box-shadow: 0px rem(10px) rem(10px) rem(2px) #e1346830;
}

.discussion__screen-foreground {
    position: absolute;
    top: 15%;
    right: -15%;
    z-index: 3;
}
.discussion__screen-foreground__layer {
    position: absolute;
    top: 18%;
    left: 15.5%;
    z-index: 1;
}
.discussion__screen-foreground__interface {
    width: rem(680px);
    height: rem(420px); /* исправлено: было 42s0px - опечатка */
}

.discussion__screen-foreground__layer-row {
    display: flex;
    justify-content: space-between;
}
.discussion__screen-foreground__layer-row:first-child {
    margin-bottom: 2rem;
}
.discussion__screen__videocall {
    height: rem(200px);
    width: rem(200px);
}

.discussion__screen-foreground__divider {
    height: rem(200px);
    width: rem(3px);
    background-color: #d5e2fb;
    margin: 0 2rem;
}

.discussion__screen-foreground__layer-info__title {
    line-height: normal;
    // font-size: rem(22px);
}
.discussion__screen-foreground__layer-info__text {
    line-height: normal;
    font-size: rem(16px);
}
.discussion__screen-btn {
    display: inline-flex;
    font-size: rem(20px);
    color: var(--white);
    border-radius: var(--btn-radius);
    padding: 0.2rem 1.5rem;
    background: linear-gradient(
        57deg,
        rgba(245, 84, 84, 1) 1%,
        rgba(229, 66, 43, 1) 100%
    );
    box-shadow: 0px rem(10px) rem(20px) rem(5px) #eb493a40;
}

.discussion__boxicon {
    position: absolute;
    top: 4rem;
    transform-origin: center center;
    transform: rotate(-5deg);
}
.discussion__picture__icon-users {
    width: rem(40px) !important;
    height: rem(40px) !important;
    transform: rotate(-5deg);
    fill: #2c93f1 !important;
}

.discussions__screen-background:before {
    content: "";
    position: absolute;
    left: -1rem;
    height: rem(196px);
    width: rem(196px);
    background-color: #73bcff;
    border-radius: var(--card-radius);
    z-index: -1;
    bottom: -1rem;
}
.discussions__screen-background__ring,
.discussions__screen-background__triangle {
    position: absolute;
}
.discussions__screen-background__ring {
    top: -2rem;
    right: -2rem;
    background-color: transparent;
    border: 1.2rem solid #23bdee;
    border-radius: 50%;
    width: rem(112px);
    height: rem(112px);
}
.discussions__screen-background__triangle {
    top: 4rem;
    right: -5rem;
    width: 0;
    height: 0;
    border-left: rem(16px) solid transparent;
    border-right: rem(16px) solid transparent;
    border-bottom: rem(26px) solid #fba333;
    transform-origin: center center;
    transform: rotate(-20deg);
}

.discussions__screen-title,
.discussions__screen-description {
    text-align: start;
}

.discussions__more-features {
    display: flex;
    justify-content: center;
}

@media (max-width: 1280px) {
    .discussions__content {
        flex-direction: column;
        align-items: center;
        gap: rem(100px);
    }
    .discussions__screen-title {
        display: flex;
        justify-content: center;
    }
    .discussions__screen-decor {
        margin-left: rem(10px);
    }
    .discussions__screen-description {
        text-align: center;
    }
    .discussions__screen {
        order: 1;
    }
}
@media (max-width: 768px) {
    .discussion__screen-foreground {
        position: static;
    }
    .discussions__screen-background {
        display: none;
    }
    .discussion__screen-foreground__interface {
        width: 100%;
        height: auto;
    }
    .discussion__screen-foreground__layer {
        left: 0;
        top: 12%;
    }
    .discussion__screen__videocall {
        width: auto;
        height: auto;
    }
    .discussion__screen-btn {
        align-self: flex-start;
        font-size: rem(14px);
        padding: 0.1rem 0.5rem;
        line-height: 150%;
    }
    .discussion__screen-foreground__layer-info__text {
        font-size: rem(14px);
    }
    .discussion__screen-foreground__layer-row:first-child {
        margin-bottom: rem(20px);
    }
    .discussions__content {
        margin-bottom: rem(50px);
    }
}
