.integration__container {
    --container: 1457px;
    display: flex;
    gap: rem(100px);
}
.integration__content,
.integration__platforms {
    width: 50%;
}
.integration__content__sup-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: rem(20px);
    letter-spacing: 20%;
}

.integration__content__title-decoration {
    display: inline-block;
    height: rem(1px);
    width: rem(80px);
    background-color: #525596;
}
.integration__content__title {
    font-weight: bold;
    font-size: rem(36px);
}
.integration__content__description {
    font-size: rem(24px);
    letter-spacing: 2%;
    line-height: 160%;
    margin-bottom: rem(20px);
}
.integration__content__description span {
    display: block;
}
.integration__content__btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: rem(1px) solid #f48c06;
    border-radius: rem(40px);
    background-color: transparent;
    color: #f48c06;
}
.integration__content__btn-text {
    display: inline-block;
    margin-left: rem(40px);
    margin-right: rem(25px);
    font-size: rem(22px);
    letter-spacing: 2%;
}

.integration__platforms__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    row-gap: 2rem;
}
