.integration {
    font-family: "Nunito Sans", system-ui, sans-serif;
    &__container {
        --container: 1457px;
        display: flex;
        gap: rem(100px);
    }

    &__content,
    &__platforms {
        width: 50%;
    }

    &__sup-title {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: rem(20px);
        letter-spacing: 20%;
    }

    &__title-decoration {
        display: inline-block;
        height: rem(1px);
        width: rem(80px);
        background-color: #525596;
    }

    &__title {
        font-size: rem(36px);
        font-weight: bold;
    }

    &__description {
        font-size: rem(24px);
        letter-spacing: 2%;
        line-height: 160%;
        margin-bottom: rem(20px);

        span {
            display: block;
        }
    }

    &__btn {
        --btn-padding-x: 36.1px;
        --btn-padding-y: 17.5px;
    }

    &__btn-text {
        display: inline-block;
        font-size: rem(22px);
        letter-spacing: 2%;
    }

    &__platforms-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: end;
        row-gap: 2rem;

        .theme-dark & {
            padding: 0.5rem;
            background: #5b6587;
            border-radius: var(--card-radius);
            justify-items: center;
        }
    }

    &__modal-content {
        max-height: 90%;
    }

    &__modal-body {
        display: flex;
        overflow: hidden;
    }

    &__grid {
        position: relative;
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    &__grid-cell {
        height: rem(150px);
        padding: rem(10px);

        img {
            height: 100%;
        }
    }

    @media (max-width: 768px) {
        &__container {
            flex-direction: column;
            align-items: center;
        }

        &__platforms {
            order: 2;
            width: 100%;
        }

        &__content {
            padding: 0 rem(20px);
            width: 100%;
        }

        &__platforms-content {
            justify-items: center;
            padding: 0 rem(20px);
        }
    }
}
