.news__container {
    --container: 1550px;
}
.news__description {
    margin-bottom: 95px;
}
.news__row {
    display: flex;
    gap: 5rem;
}
.news__content {
    /* display: flex; */
}
.news__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.news__item {
    display: flex;
    gap: 35px;
    line-height: 2.5rem;
}
.news__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.news__badge {
    display: inline-block;
    background: #f4c467;
    color: #252641;
    border-radius: var(--card-radius);
    white-space: nowrap;
    padding: 0.1rem 0.5rem;
    font-size: 18px;
}
.news__intemtitle {
    font-size: 22px;
}
.news__description {
    font-size: 20px;
}
.news__badge--lg {
    font-size: 20px;
    padding: 0.2rem 1rem;
}
.news__main__image {
    margin-bottom: 40px;
}
.news__main__badge {
    margin-bottom: 30px;
}
.news__main__title {
    margin-bottom: 40px;
}
.news__title--lg {
    font-size: 26px;
}
.news__main__description {
    margin-bottom: 45px;
}
.news__description--lg {
    font-size: 20px;
}
.news__main__link {
    font-size: 20px;
}

.news__image--sm {
    width: 280px;
    height: 200px;
}
.news__image--fixed {
    flex-shrink: 0;
}

.news__item__image {
    position: relative;
}
.news__item__badge {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    line-height: 140%;
}
