.news {
    &__container {
        --container: 1550px;
    }
    &__title,
    &__description {
        font-family: "Nunito Sans", system-ui, sans-serif;
    }
    &__description {
        margin-bottom: rem(95px);
    }

    &__row {
        display: flex;
        gap: 5rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__item {
        display: flex;
        gap: rem(35px);
        line-height: 2.5rem;
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        gap: rem(25px);
    }

    &__badge {
        display: inline-block;
        background: #f4c467;
        color: #252641;
        border-radius: var(--card-radius);
        white-space: nowrap;
        padding: 0.1rem 0.5rem;
        font-size: rem(18px);

        &--lg {
            font-size: rem(20px);
            padding: 0.2rem 1rem;
        }
    }

    &__item-title {
        font-size: rem(22px);
        font-weight: 500;
    }

    &__item-image {
        position: relative;
    }

    &__item-badge {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        line-height: 140%;
    }

    &__main-image {
        margin-bottom: rem(40px);
    }

    &__main-badge {
        margin-bottom: rem(30px);
    }

    &__main-title {
        margin-bottom: rem(40px);
    }

    &__title {
        &--lg {
            font-size: rem(26px);
        }
    }

    &__main-description {
        margin-bottom: rem(45px);
    }

    &__main-link {
        font-size: rem(20px);
    }

    &__image {
        &--sm {
            width: rem(280px);
            height: rem(200px);
        }

        &--fixed {
            flex-shrink: 0;
        }
    }

    @media (max-width: 1024px) {
        &__row {
            gap: rem(50px);
        }

        &__main-image,
        &__main-badge,
        &__main-title,
        &__main-description {
            margin-bottom: rem(20px);
        }

        &__image--sm {
            width: 10rem;
            height: 6rem;
        }

        &__item-badge {
            bottom: rem(-20px);
        }

        &__badge {
            font-size: rem(16px);
        }

        &__badge--lg {
            font-size: rem(18px);
            line-height: 180%;
        }
    }

    @media (max-width: 768px) {
        &__row {
            flex-direction: column;
        }

        &__list {
            gap: rem(60px);
        }
    }

    @media (max-width: 480px) {
        &__item {
            flex-direction: column;
        }
    }
}
