/* Utils functions */
.news__container {
  --container: 1550px;
}

.news__description {
  margin-bottom: 4.75rem;
}

.news__row {
  display: flex;
  gap: 5rem;
}

.news__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news__item {
  display: flex;
  gap: 1.75rem;
  line-height: 2.5rem;
}

.news__item-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.news__badge {
  display: inline-block;
  background: #f4c467;
  color: #252641;
  border-radius: var(--card-radius);
  white-space: nowrap;
  padding: 0.1rem 0.5rem;
  font-size: 0.9rem;
}

.news__item-title {
  font-size: 1.1rem;
}

.news__description {
  font-size: 1rem;
}

.news__badge--lg {
  font-size: 1rem;
  padding: 0.2rem 1rem;
}

.news__main-image {
  margin-bottom: 2rem;
}

.news__main-badge {
  margin-bottom: 1.5rem;
}

.news__main-title {
  margin-bottom: 2rem;
}

.news__title--lg {
  font-size: 1.3rem;
}

.news__main-description {
  margin-bottom: 2.25rem;
}

.news__description--lg {
  font-size: 1rem;
}

.news__main-link {
  font-size: 1rem;
}

.news__image--sm {
  width: 14rem;
  height: 10rem;
}

.news__image--fixed {
  flex-shrink: 0;
}

.news__item-image {
  position: relative;
}

.news__item-badge {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  line-height: 140%;
}

@media (max-width: 1024px) {
  .news__row {
    gap: 2.5rem;
  }
  .news__main-image,
  .news__main-badge,
  .news__main-title,
  .news__main-description {
    margin-bottom: 1rem;
  }
  .news__image--sm {
    width: 10rem;
    height: 6rem;
  }
  .news__item-badge {
    bottom: -1rem;
  }
  .news__badge {
    font-size: 0.8rem;
  }
  .news__badge--lg {
    font-size: 0.9rem;
    line-height: 180%;
  }
}
@media (max-width: 768px) {
  .news__row {
    flex-direction: column;
  }
  .news__list {
    gap: 3rem;
  }
}
@media (max-width: 480px) {
  .news__item {
    flex-direction: column;
  }
}
