/* Utils functions */
.integration__container {
  --container: 1457px;
  display: flex;
  gap: 5rem;
}

.integration__content,
.integration__platforms {
  width: 50%;
}

.integration__sup-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  letter-spacing: 20%;
}

.integration__title-decoration {
  display: inline-block;
  height: 0.05rem;
  width: 4rem;
  background-color: #525596;
}

.integration__title {
  font-weight: bold;
  font-size: 1.8rem;
}

.integration__description {
  font-size: 1.2rem;
  letter-spacing: 2%;
  line-height: 160%;
  margin-bottom: 1rem;
}

.integration__description span {
  display: block;
}

.integration__btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 0.05rem solid #f48c06;
  border-radius: 2rem;
  background-color: transparent;
  color: #f48c06;
}

.integration__btn-text {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 1.25rem;
  font-size: 1.1rem;
  letter-spacing: 2%;
}

.integration__platforms-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  row-gap: 2rem;
}

.theme-dark .integration__platforms-content {
  padding: 0.5rem;
  background: #5b6587;
  border-radius: var(--card-radius);
  justify-items: center;
}

@media (max-width: 768px) {
  .integration__container {
    flex-direction: column;
    align-items: center;
  }
  .integration__platforms {
    order: 2;
    width: 100%;
  }
  .integration__content {
    padding: 0 1rem;
    width: 100%;
  }
  .integration__platforms-content {
    justify-items: center;
    padding: 0 1rem;
  }
}
