.input {
    --color: #83839a background-color: transparent;
    color: var(--color);
    letter-spacing: 4%;
    font-size: rem(20px);
    outline: none;
    border: 1px solid #83839a;
    border-radius: rem(40px);
    padding: rem(16px) rem(25px);
    // max-width: rem(400px);
    flex-grow: 1;
}
.input {
    --color: #83839a background-color: transparent;
    color: var(--color);
    letter-spacing: 4%;
    font-size: rem(20px);
    outline: none;
    border: 1px solid #83839a;
    border-radius: rem(40px);
    padding: rem(16px) rem(25px);
    // max-width: rem(400px);
    flex-grow: 1;
}
