@charset "UTF-8";
/* Utils functions */
.logo {
  position: relative;
  display: inline-flex; /* или block, в зависимости от макета */
  align-items: center;
}

.logo::after {
  content: "";
  position: absolute;
  top: 55%; /* привязываем к центру по вертикали */
  left: -0.6rem; /* привязываем к левому краю */
  width: 3rem;
  height: 3rem;
  transform-origin: center center;
  transform: translateY(-50%) rotate(45deg); /* сдвиг на половину высоты + поворот */
  z-index: -1; /* если ромб должен быть ПОД текстом */
  pointer-events: none; /* чтобы не перекрывал клики */
  border-radius: 0.15rem;
}

.logo--primary::after {
  background-color: var(--accent-primary);
}
