.classroom {
}
.classroom__container {
    --container: 1547px;
    display: flex;
}

.classroom__content,
.classroom__video {
    width: 50%;
    padding: rem(30px);
}
.classroom__content {
    position: relative;
}

.classroom__title,
.classroom__description {
    margin-bottom: rem(30px);
}

.classroom__title {
    /* width: 90%; */
}
.classroom__description {
    width: 90%;
}

.classroom__title:after {
    content: "";
    position: absolute;
    top: rem(5px);
    left: 0;
    width: rem(73px);
    height: rem(73px);
    background-color: var(--accent-warning);
    border-radius: 100%;
    z-index: -1;
}
.classroom__description:before {
    content: "";
    position: absolute;
    top: 55%;
    right: 10%;
    width: rem(30px);
    height: rem(30px);
    border-radius: 100%;
    background-color: var(--accent-warning);
    z-index: -1;
}

.classroom__video {
    position: relative;
}
.classroom__video:after {
    content: "";
    position: absolute;
    top: rem(11px);
    left: rem(11px);
    width: rem(138px);
    height: rem(138px);
    background-color: var(--accent-primary);
    border-radius: var(--card-radius);
    z-index: -1;
}
.classroom__video:before {
    content: "";
    position: absolute;
    bottom: rem(11px);
    right: rem(-11px);
    width: rem(231px);
    height: rem(231px);
    border-radius: var(--card-radius);
    background-color: var(--accent-warning);
    z-index: -1;
}
.classroom__video-content {
    position: relative;
    overflow: hidden;
    border-radius: var(--card-radius);
    // width: rem(705px);
    height: rem(470px);
}
.classroom__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.classroom__video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    .classroom__container {
        flex-direction: column;
        align-items: center;
    }
    .classroom__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .classroom__content,
    .classroom__video {
        width: 80%;
    }
    .classroom__title,
    .classroom__description {
        text-align: center;
    }
    .classroom__description {
        width: 100%;
    }
    .classroom__description:before {
        right: 0;
    }
}

@media (max-width: 480px) {
    .classroom__content,
    .classroom__video {
        width: 100%;
    }
    .classroom__video {
        padding: 0;
    }
}
