.bulb {
    --bg-color: transparent --size: rem(0px);
    background: var(--bg-color);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}
.bulb--absolute {
    position: absolute;
    --top: 0;
    --left: 0;
    top: var(--top);
    left: var(--left);
}

.bulb--blue {
    --bg-color: #687ef3;
}
.bulb--green {
    --bg-color: #34e7a5;
}
.bulb--orange {
    --bg-color: var(--accent-warning);
}
