.bulb {
    --bg-color: transparent;
    --size: 0px;
    background: var(--bg-color);
    width: var-to-rem(--size);
    height: var-to-rem(--size);
    border-radius: 50%;
}
.bulb--absolute {
    position: absolute;
    --top: 0;
    --left: 0;
    top: var-to-rem(--top);
    left: var-to-rem(--left);
}

.bulb--blue {
    --bg-color: #687ef3;
}
.bulb--green {
    --bg-color: #34e7a5;
}
.bulb--orange {
    --bg-color: var(--accent-warning);
}
