/* Utils functions */
.features__container {
  --container: 1500px;
}

.features__description {
  margin-bottom: 5rem;
}

.features__content {
  display: flex;
  gap: 5rem;
}

.features__screen-title {
  margin-bottom: 3rem;
}

.features__list-item {
  display: flex;
  align-items: center;
}

.features__list-item:not(:last-child) {
  margin-bottom: 2rem;
}

.features__list-item span {
  display: inline-flex;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-v2);
  background-color: var(--color-panel);
  border-radius: 100%;
  margin-right: 1.75rem;
}

.features__list-icon {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

.features__list-icon--users {
  fill: #2f327d !important;
}

.features__bulb {
  position: absolute;
  width: calc(var(--size) / 20px * 1rem);
  height: calc(var(--size) / 20px * 1rem);
  background-color: var(--color);
  border-radius: 50%;
  top: var(--top);
  left: var(--left);
  right: var(--right);
  bottom: var(--bottom);
}

.features__bulb-1 {
  --color: #33efa0;
  --size: 140px;
  --top: 0;
  --left: 0;
  transform: translate(35%, -50%);
}

.features__bulb-2 {
  --color: #33d9ef;
  --size: 30px;
  --top: -10%;
  --left: 32%;
}

.features__bulb-3 {
  --color: #f56666;
  --size: 30px;
  --right: 0;
  --bottom: 0;
  transform: translate(-800%, 170%);
}

.features__bulb-4 {
  --color: #5b61eb;
  --size: 264px;
  --right: 0;
  --bottom: 0;
  transform: translate(15%, 50%);
}

.features__screen {
  position: relative;
  flex-basis: 55%;
}

.features__screen-description {
  flex-basis: 45%;
  padding-left: 5rem;
}

.features__screen-wrapper {
  width: 50%;
}

.features__screen-decription {
  width: 50%;
}

.features__screencard-body {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 2.75rem;
}

.features__screencard-header {
  position: relative;
  z-index: 2;
}

.features__screen {
  position: relative;
}

.features__video--main {
  height: 100%;
  width: 50%;
}

.features__video-grid {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.features__videocall-main {
  max-width: 12.75rem;
  max-height: 12.75rem;
  margin-bottom: 2rem;
}

.features__videocall {
  aspect-ratio: 1/1;
}

.features__videocall--xs {
  width: 8rem;
  height: 8rem;
}

.features__videocall--md {
  width: 10rem;
  height: 10rem;
}

.features__videocall--main {
  margin-right: 3rem;
  margin-bottom: 2.5rem;
}

.features__video-item-btns {
  display: flex;
  gap: 1.5rem;
}

.features__video-item-btn {
  font-size: 1.1rem;
  font-weight: 500;
  width: 7.5rem;
  white-space: nowrap;
}

.features__video-item-btn--info {
  background-color: #3465e1;
  padding: 0.25rem 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  border-radius: var(--btn-radius);
  box-shadow: 0px 0.425rem 1.02rem 0px rgba(52, 101, 225, 0.1882352941);
}

.features__video-item-btn--danger {
  background-color: #e13468;
  padding: 0.25rem 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  border-radius: var(--btn-radius);
  box-shadow: 0px 0 0 0.4rem rgba(225, 52, 104, 0.1882352941);
}

.features__videocall-col1 {
  transform-origin: top left;
  transform: scale(1.4);
}

.features__videocall-col2 {
  transform: translate(87%, 10%) scale(1.5);
}

.features__videocall-col3 {
  transform-origin: top left;
  transform: scale(1.4) translateY(31%);
}

.features__videocall-col4 {
  transform: translate(90%, 91%) scale(1.8);
}

@media (max-width: 1600px) {
  .features__content {
    gap: 7.5rem;
  }
}
@media (max-width: 1280px) {
  .features__content {
    flex-direction: column;
    gap: 7.5rem;
    align-items: center;
  }
  .features__screen-wrapper {
    width: 65%;
  }
  .features__screen {
    order: 2;
    align-self: center;
  }
  .features__screen-description {
    align-self: center;
    padding: 0 1rem;
  }
}
@media (max-width: 1024px) {
  .features__screen-description {
    align-self: start;
  }
  .features__videocall-col {
    transform: unset;
  }
  .features__screen-wrapper {
    width: 100%;
  }
  .features__videocall-main {
    max-height: 25rem;
    max-width: unset;
  }
}
@media (max-width: 768px) {
  .features__screencard-body {
    flex-direction: column;
    align-items: center;
  }
  .features__video-grid,
  .features__video--main {
    width: 100%;
  }
  .features__video--main {
    display: flex;
    flex-direction: column;
  }
  .features__video-item-btns {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .features__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .features__list-item {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .features__list-item-text {
    text-align: center;
  }
  .features__list-item-icon {
    width: 5rem !important;
    height: 5rem !important;
  }
  .features__list-icon {
    width: 2rem !important;
    height: 2rem !important;
  }
}
