/* Utils functions */
.tools__container {
  display: flex;
  gap: 9.5rem;
}

.tools__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tools__title,
.tools__description {
  text-align: start !important;
}

.tools__title {
  max-width: 19.65rem;
}

.tools__description {
  max-width: 28.4rem;
}

.tools__content,
.tools__picture {
  width: 50%;
}

.tools__picture-wrapper {
  position: relative;
  display: inline-block;
}

.tools__picture {
  max-height: 30.55rem;
}

.tools__picture-bg {
  position: absolute;
  top: 20%;
  left: -30%;
  z-index: -1;
  width: 150%;
}

.tools__ellipse {
  --ellipse-bg: transparent;
  --size: 0;
  position: absolute;
  width: calc(var(--size) / 20px * 1rem);
  height: calc(var(--size) / 20px * 1rem);
  background-color: var(--ellipse-bg);
  border-radius: 50%;
}

.tools__ellipse--info {
  --ellipse-bg: #8c7aff;
}

.tools__ellipse--success {
  --ellipse-bg: #6bf0a8;
}

.tools__ellipse--warning {
  --ellipse-bg: var(--accent-warning);
}

.tools__ellipse--main {
  --size: 236px;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.tools__ellipse--left {
  --size: 24px;
  bottom: 15%;
  left: -5%;
}

.tools__ellipse--right {
  --size: 20px;
  bottom: 0%;
  right: 5%;
}

.tools__ellipse--top {
  --size: 20px;
  top: -10%;
  right: 20%;
}

.tools__icon-left {
  position: absolute;
  top: 30%;
  left: -20%;
  transform: rotate(-12deg);
}

.tools__icon-right {
  position: absolute;
  top: 35%;
  right: -25%;
  transform: rotate(12deg);
}

.tools__icon-info,
.tools__icon-class {
  width: 37px !important;
  height: 37px !important;
}

@media (max-width: 1280px) {
  .tools {
    margin-bottom: 17.5rem;
  }
  .tools__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }
  .tools__content,
  .tools__picture {
    width: 80%;
  }
  .tools__picture {
    text-align: center;
  }
  .tools__title,
  .tools__description {
    text-align: center !important;
    max-width: unset;
  }
}
@media (max-width: 1024px) {
  .tools__picture {
    display: flex;
    justify-content: center;
  }
  .tools__picture-wrapper {
    display: flex;
  }
}
@media (max-width: 768px) {
  .tools__picture {
    width: 80%;
  }
  .tools__ellipse--left {
    left: 15%;
  }
  .tools__icon-left {
    left: 0;
  }
  .tools__icon-right {
    right: 0;
  }
}
