.logo {
    position: relative;
    display: inline-flex;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        top: 55%;
        left: -0.6rem;
        width: rem(60px);
        height: rem(60px);
        transform-origin: center center;
        transform: translateY(-50%) rotate(45deg);
        z-index: -1;
        pointer-events: none;
        border-radius: rem(3px);
    }

    &--primary {
        &::after {
            background-color: var(--accent-primary);
        }
    }
}
