.boxicon {
    --size: rem(80px);
    position: relative;
    --border-radius: 1rem;
    display: inline-flex;
}

.boxicon__bg {
    background-color: var(--white);
    border-radius: var(--border-radius);
    height: var(--size);
    width: var(--size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* padding: 0.4rem; */
    box-shadow: rem(-3px) rem(7px) rem(17px) #00000010;
}

.boxicon__backdrop {
    position: relative;
    border-radius: var(--border-radius);
    background: #ffffff99;
    padding: 0.7rem;
    z-index: 2;
    overflow: hidden;
    box-shadow: rem(-7px) rem(12px) rem(23px) #00000030;
}

/* @supports (backdrop-filter: blur(1px)) {
    .boxicon__backdrop {
        background: #00000005;
        backdrop-filter: blur(10px) saturate(130%);
        -webkit-backdrop-filter: blur(10px) saturate(130%);
       
    }
} */

.boxicon__shadow {
    /* position: absolute;
    width: 20%;
    height: 20%;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    filter: blur(20px);
    background-color: #000000; */
}

.boxicon--round {
    --border-radius: 50%;
}
