.boxicon {
    --size: 62px;
    position: relative;
    --border-radius: 20px;
    display: inline-flex;

    &__bg {
        background-color: var(--color-bg);
        border-radius: var-to-rem(--border-radius);
        height: var-to-rem(--size);
        width: var-to-rem(--size);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: rem(-3px) rem(7px) rem(17px) #00000010;
    }

    &__backdrop {
        display: inline-flex;
        position: relative;
        border-radius: var(--border-radius);
        background: #ffffff99;
        padding: rem(9px);
        z-index: 2;
        overflow: hidden;
        box-shadow: rem(-7px) rem(12px) rem(23px) #00000030;
    }

    &--round {
        --border-radius: 50%;
    }
}
