.screencard {
    border-radius: rem(20px);

    &__header {
        background-color: var(--color-screen-header);
        padding: rem(10px) rem(25px);
        border-radius: rem(20px) rem(20px) 0 0;

        &--transparent {
            @supports (backdrop-filter: blur(1px)) {
                background: color-mix(
                    in srgb,
                    var(--color-screen-header),
                    transparent 30%
                );
                backdrop-filter: blur(15px) saturate(60%);
                -webkit-backdrop-filter: blur(rem(15px)) saturate(60%);
            }
        }
    }

    &__toolbar {
        display: flex;
        gap: rem(10px);
    }

    &__toolbar-item {
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;

        &--green {
            background-color: #5beb7b;
        }

        &--yellow {
            background-color: #f6c566;
        }

        &--red {
            background-color: #ee6767;
        }
    }

    &__body {
        position: relative;
        top: -1px;
        background: var(--color-screen-body);
        padding: rem(50px) rem(40px);
        border-radius: 0 0 rem(20px) rem(20px);

        &--transparent {
            @supports (backdrop-filter: blur(1px)) {
                background: color-mix(
                    in srgb,
                    var(--color-screen-body),
                    transparent 30%
                );
                backdrop-filter: blur(rem(15px)) saturate(100%);
                -webkit-backdrop-filter: blur(rem(15px)) saturate(100%);
            }
        }
    }
}
