.screencard {
    background-color: #f4f4f460;
    // overflow: hidden;
    border-radius: rem(20px);
}
.screencard__header {
    background-color: #eaeaea60;
    padding: rem(10px) rem(25px);
    border-radius: rem(20px) rem(20px) 0 0;
}
.screencard__toolbar {
    display: flex;
    gap: rem(10px);
}
.screencard__toolbar-item {
    width: rem(13px);
    height: rem(13px);
    border-radius: 50%;
}
.screencard__toolbar-item--green {
    background-color: #5beb7b;
}
.screencard__toolbar-item--yellow {
    background-color: #f6c566;
}
.screencard__toolbar-item--red {
    background-color: #ee6767;
}
.screencard__body {
    padding: rem(50px) rem(40px);
    border-radius: 0 0 rem(20px) rem(20px);
}
@supports (backdrop-filter: blur(1px)) {
    .screencard__body {
        background: #f4f4f460;
        backdrop-filter: blur(rem(15px)) saturate(100%);
        -webkit-backdrop-filter: blur(rem(15px)) saturate(100%);
    }

    .screencard__header {
        background: #eaeaea99;
        backdrop-filter: blur(15px) saturate(60%);
        -webkit-backdrop-filter: blur(rem(15px)) saturate(60%);
    }
}
