/* Utils functions */
.discussions__container {
  --container: 1500px;
}

.discussions__content {
  display: flex;
  margin-bottom: 10rem;
}

.discussions__screen-wrapper {
  position: relative;
}

.discussions__screen-wrapper,
.discussions__screen-text {
  width: 50%;
}

.discussions__screen-text {
  padding-left: 10rem;
}

.discussions__screencard {
  position: relative;
  z-index: 2;
}

.discussions__screencard-foreground {
  padding-left: 2rem;
}

.discussions__screencard-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: -19%;
  left: -1rem;
}

@supports (backdrop-filter: blur(1px)) {
  .discussions__screencard-background:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.3764705882);
    backdrop-filter: blur(0.25rem) saturate(100%);
    -webkit-backdrop-filter: blur(0.75rem) saturate(100%);
    z-index: 100;
    border-radius: 1rem;
    overflow: hidden;
  }
}
.discussions__shape {
  position: absolute;
  top: var(--top);
  left: var(--left);
  right: var(--right);
  bottom: var(--bottom);
  background: var(--color);
  z-index: -1;
}

.discussions__square {
  --color: #73bcff;
  width: 9.8rem;
  height: 9.8rem;
  border-radius: 18px;
  --bottom: -5%;
  --left: -2%;
}

.discussions__ring {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: 20px solid #23bdee;
  --top: -11%;
  --right: -5%;
}

.discussions__triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fba333;
  --top: 15%;
  --right: -13%;
  transform: rotate(-18deg);
}

.discussions__video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.discussions__video-col--row {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.discussions__videocall-preview {
  width: 100%;
  height: 100%;
}

.discussions__screencard-body {
  padding: 1rem 1.75rem;
}

.discussions__screencard-body-bg {
  padding: 2rem 1rem;
}

.discussions__video-row {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.75rem;
}

.discussions__video-divider {
  width: 1px;
  background-color: #d5e2fb;
}

.discussions__videocall {
  aspect-ratio: 1/1;
}

.discussions__info-row {
  display: flex;
  justify-content: space-between;
}

.discussions__info-title {
  line-height: normal;
}

.discussions__info-text {
  line-height: normal;
  font-size: 0.8rem;
}

.discussions__info-btn {
  display: inline-flex;
  font-size: 1rem;
  color: var(--white);
  border-radius: var(--btn-radius);
  padding: 0.2rem 1.5rem;
  background: linear-gradient(57deg, rgb(245, 84, 84) 1%, rgb(229, 66, 43) 100%);
  box-shadow: 0px 0.5rem 1rem 0.25rem rgba(235, 73, 58, 0.2509803922);
  white-space: nowrap;
}

.discussions__boxicon {
  position: absolute;
  top: 4rem;
  transform-origin: center center;
  transform: rotate(-5deg);
}

.discussions__icon--users {
  width: 2rem !important;
  height: 2rem !important;
  transform: rotate(-5deg);
  fill: #2c93f1 !important;
}

.discussions__screen-title,
.discussions__screen-description {
  text-align: start;
}

.discussions__more-features {
  display: flex;
  justify-content: center;
}

@media (max-width: 1280px) {
  .discussions__content {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .discussions__screen-text {
    padding-left: 0;
  }
  .discussions__screen-wrapper {
    order: 2;
    width: 70%;
  }
  .discussions__screen-title {
    display: flex;
    justify-content: center;
  }
  .discussions__screen-description {
    text-align: center;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 768px) {
  .discussions__screen-wrapper {
    order: 2;
    width: 100%;
  }
  .discussions__screencard-background {
    display: none;
  }
  .discussions__info-btn {
    align-self: start;
    padding: 0.2rem 0.8rem;
  }
  .discussions__content {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 480px) {
  .discussions__screencard-background {
    display: none;
  }
  .discussions__video-row {
    flex-direction: column;
  }
}
