.tools {
}

.tools__container {
    display: flex;
    gap: 190px;
}
.tools__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tools__title,
.tools__description {
    text-align: start !important;
}
.tools__title {
    max-width: 393px;
}
.tools__description {
    max-width: 568px;
}
.tools__picture {
    position: relative;
    max-height: 611px;
}
.tools__picture-bg {
    position: absolute;
    top: 20%;
    left: -30%;
    z-index: -1;
    width: 150%;
}

.tools__picture-ellipse {
    --ellipse-bg: transparent;
    --size: 0;
    position: absolute;

    width: var(--size);
    height: var(--size);
    background-color: var(--ellipse-bg);
    border-radius: 50%;
}
.tools__picture-ellipse--info {
    --ellipse-bg: #8c7aff;
}
.tools__picture-ellipse--success {
    --ellipse-bg: #6bf0a8;
}
.tools__picture-ellipse--warning {
    --ellipse-bg: var(--accent-warning);
}
.tools__picture-ellipse--main {
    --size: 236px;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.tools__picture-ellipse--left {
    --size: 24px;
    bottom: 15%;
    left: -5%;
}
.tools__picture-ellipse--right {
    --size: 20px;
    bottom: 0%;
    right: 5%;
}
.tools__picture-ellipse--top {
    --size: 20px;
    top: -10%;
    right: 20%;
}
.tools__picture-icon-left {
    position: absolute;
    top: 30%;
    left: -20%;
    /* padding: 0.5rem; */
    /* background-color: var(--white); */
    /* z-index: 2; */
    /* border-radius: var(--card-radius);
    box-shadow:
        0 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 0 10px #00000030; */
}
.tools__picture-icon-right {
    position: absolute;
    top: 35%;
    right: -25%;
}
/* .tools__picture-icon-left:after {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    top: 0;
    left: 0;
    
} */
