.brands {
    &__title {
        text-align: center;
        font-size: rem(28px);
        letter-spacing: 2%;
        line-height: 160%;
        margin-bottom: rem(40px);
        font-weight: 500;

        &--hide {
            opacity: 0;
            transform: translateY(20px);
        }

        &--show {
            opacity: 1;
            transform: translateY(0);
            transition-duration: 1.5s;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(30px);
    }

    @media (max-width: 1280px) {
        &__list {
            justify-content: center;
        }
    }

    @media (max-width: 768px) {
        &__item {
            width: 25%;
        }
    }
}
