.brands{

}
.brands__container{
     
}
.brands__title{
    text-align: center;
    font-size: 28px;
    letter-spacing: 2%;
    margin-bottom: 40px;
    font-weight: 500;
}
.brands__list{
    display: flex;
    justify-content: space-between;
    align-items:center
}