.intro {
    position: relative;
    overflow: hidden;
    height: 58vw;
    // height: rem(1120px);
    background-color: #fff2e1;
    clip-path: ellipse(100% 100% at 50% 0%);
}

.intro__container {
    --container: 1680px;
    height: 100%;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    gap: rem(250px);
}

.intro__title {
    // font-size: rem(54px);
    // font-weight: bold;
    // line-height: 4rem;
    margin-bottom: rem(35px);
}

.intro__description {
    // font-size: rem(24px);
    // line-height: 2rem;
    margin-bottom: rem(50px);
}

.intro__btn-join,
.intro__btn-play {
    margin-right: 1rem;
}

.intro__content {
    width: 45%;
    display: inline-flex;
    flex-direction: column;
    margin-top: 18%;
}

.intro__image {
    width: 55%;
}

.intro__image {
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* width: 500px; */
    height: 100%;
}

.intro__image-wrapper {
    position: relative;
    width: 100%;
    height: 93%;
    display: flex;
    padding-right: rem(40px);
}

.intro__image > img {
    position: absolute;
    bottom: 0;
    height: 100%;
}

.intro__popup {
    position: absolute;
    --top: 66%;
    --left: -10%;
    top: var(--top);
    left: var(--left);
    background: rgba(255, 255, 255, 0.85);
    border-radius: rem(20px);
    padding: rem(28px);
    display: flex;
    gap: rem(25px);
    line-height: normal;
}

@supports (backdrop-filter: blur(1px)) {
    .intro__popup {
        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(rem(10px)) saturate(130%);
        -webkit-backdrop-filter: blur(rem(10px)) saturate(130%);
    }
}

.intro__popup__avatar {
    position: relative;
    display: inline-flex;
    width: rem(58px);
    height: rem(58px);
}

.intro__popup__avatar:after {
    content: "";
    position: absolute;
    bottom: -5%;
    right: 0%;
    width: rem(19px);
    height: rem(19px);
    background-color: #2ebb5e;
    border: 1px solid #fbecd7;
    border-radius: 50%;
}

.intro__popup__icon {
    /* --bg-color: transparent; */
    display: inline-flex;
    width: rem(50px);
    height: rem(50px);
    border-radius: rem(8px);
    background-color: var(--bg-color);
}

.intro__popup__icon--orange {
    --bg-color: #f88c3d;
}

.intro__popup__icon--blue {
    --bg-color: #23bdee;
}

.intro__popup__title__check {
    width: rem(20px);
    height: rem(20px);
    background-color: #4ee381;
    border-radius: 50%;
}

.intro__popup__title {
    display: flex;
    justify-content: space-between;
    font-size: rem(24px);
    font-weight: bold;
}

.intro__popup__description {
    font-size: rem(20px);
    font-weight: 500;
}

.intro__popup__btn {
    display: inline-flex;
    color: white;
    font-size: rem(20px);
    font-weight: bold;
    padding: rem(10px) rem(40px);
    background-color: #d8587e;
    border-radius: rem(80px);
    margin-top: rem(20px);
}

.intro__popup--message {
    --top: 50%;
    --left: 60%;
}

.intro__popup--calendar {
    --top: 30%;
    --left: -5%;
}

.intro__popup--settings {
    --top: 25%;
    --left: 70%;
    background: #f3627c;
    backdrop-filter: unset;
    width: rem(70px);
    height: rem(70px);
}

@media (max-width: 1380px) {
    .intro__popup {
        border-radius: rem(10px);
        padding: rem(10px);
        gap: rem(10px);
        line-height: normal;
        line-height: 90%;
    }
    .intro__popup__title {
        font-size: rem(20px);
        font-weight: 500;
    }

    .intro__popup__description {
        font-size: rem(18px);
        font-weight: 500;
    }
    .intro__popup--settings {
        width: rem(50px);
        height: rem(50px);
    }
}
@media (max-width: 1280px) {
    .intro__container {
        gap: rem(150px);
    }
    .intro__content {
        width: 50%;
    }

    .intro__image {
        width: 50%;
    }

    .intro__title {
        margin-bottom: rem(25px);
    }

    .intro__description {
        margin-bottom: rem(30px);
    }
}
@media (max-width: 1024px) {
    .intro {
        height: auto;
    }
    .intro__container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .intro__content {
        margin-top: 10%;
        align-items: center;
        width: 100%;
    }
    .intro__title,
    .intro__description {
        text-align: center;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 15px;
    }
    .intro__content {
        margin-top: 20%;
    }
    .intro__image {
        width: 80%;
    }
}
@media (max-width: 480px) {
    .intro__controls {
        display: flex;
        flex-direction: column;
        gap: rem(20px);
        align-items: center;
    }
    .intro__controls > * {
        margin-right: 0;
    }
    .intro__btn-play {
        order: 3;
    }
}
