.testimonial__container {
    --container: 1457px;
    display: flex;
    gap: rem(100px);
}

.testimonial__content,
.testimonial__reviews {
    width: 50%;
}

.testimonial__sup-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: rem(20px);
    letter-spacing: 20%;
}

.testimonial__title-decoration {
    display: inline-block;
    height: rem(1px);
    width: rem(80px);
    background-color: #525596;
}

.testimonial__title {
    font-weight: bold;
    font-size: rem(60px);
}

.testimonial__description {
    font-size: rem(26px);
    letter-spacing: 2%;
    line-height: 160%;
    margin-bottom: rem(20px);
}

.testimonial__description:last-of-type {
    margin: 3rem 0;
}

.testimonial__btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: rem(1px) solid #f48c06;
    border-radius: rem(40px);
    background-color: transparent;
    color: #f48c06;
}

.testimonial__btn-text {
    display: inline-block;
    margin-left: rem(40px);
    margin-right: rem(25px);
    font-size: rem(22px);
    letter-spacing: 2%;
}

.testimonial__btn-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(80px);
    height: rem(80px);
    border: rem(1px) solid #f48c06;
    border-radius: 50%;
    margin-right: rem(-1px);
    margin-top: rem(-1px);
    margin-bottom: rem(-1px);
}

.testimonial__btn-icon {
    width: 25px !important;
    height: 25px !important;
    fill: #f48c06 !important;
}

.testimonial__slider {
    max-width: rem(560px);
    max-height: rem(700px);
}

.testimonial__slider-content {
    position: relative;
    border-radius: var(--card-radius);
    overflow: unset !important;
}

.testimonial__reviewer-img {
    border-radius: var(--card-radius);
    overflow: hidden;
}

.testimonial__review {
    position: absolute;
    background-color: white;
    box-shadow: var(--box-shadow-v2);
    bottom: -10%;
    left: 5rem;
    width: rem(680px);
    overflow: hidden;
    padding: 2rem 0;
    border-radius: var(--card-radius);
}

.testimonial__review:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: rem(15px);
    background: #f67766;
}

.testimonial__review-text {
    position: relative;
    font-size: rem(22px);
    letter-spacing: 2%;
    line-height: 180%;
    padding: 0rem 3rem 0rem 5rem;
}

.testimonial__review-text:after {
    content: "";
    position: absolute;
    top: 0;
    left: 3rem;
    height: 100%;
    width: rem(1px);
    background: #bdbdd1;
}

.testimonial__review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem 0rem 5rem;
}

.testimonial__reviewer-name {
    /* имя рецензента */
}

.testimonial__rating {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.testimonial__stars {
    display: flex;
}

.testimonial__star {
    /* звезда рейтинга */
}

.testimonial__star-icon {
    /* иконка звезды */
}

.testimonial__stars-count {
    font-size: rem(18px);
    line-height: 180%;
    letter-spacing: 2%;
    font-weight: 500;
}

.testimonial__slider-controls {
    position: absolute;
    top: 30%;
    transform: translate(50%, 50%);
    right: 0;
}

.testimonial__slider-arrow {
    background-color: white;
    box-shadow: var(--box-shadow-v2);
    width: rem(80px);
    height: rem(80px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.testimonial__slider-arrow--right {
    /* модификатор для правой стрелки */
}

.testimonial__arrow-icon {
    stroke: #1ea4ce !important;
    fill: none !important;
}

@media (max-width: 1750px) {
    .testimonial__review {
        left: -2rem;
        padding: rem(20px) 0;
    }
    
    .testimonial__review-text {
        padding: 0rem rem(10px) 0rem rem(60px);
    }
    
    .testimonial__review-text:after {
        left: rem(40px);
    }
    
    .testimonial__review-footer {
        padding: rem(20px) rem(40px) 0rem rem(60px);
    }
}

@media (max-width: 1280px) {
    .testimonial__review {
        width: 115%;
    }
}

@media (max-width: 1024px) {
    .testimonial__review {
        width: 130%;
        bottom: -20%;
    }
    
    .testimonial__container {
        flex-direction: column;
        align-items: center;
    }
    
    .testimonial__content {
        width: 100%;
    }
    
    .testimonial__description {
        margin: 0;
    }
    
    .testimonial__reviewer-name {
        font-size: rem(25px);
    }
}

@media (max-width: 768px) {
    .testimonial__review {
        left: -40%;
        width: 190%;
        bottom: -30%;
    }
}