.testimonial {
    font-family: "Nunito Sans", system-ui, sans-serif;
    &__container {
        --container: 1457px;
        display: flex;
        gap: rem(100px);
    }

    &__content,
    &__reviews {
        width: 50%;
    }

    &__sup-title {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: rem(20px);
        letter-spacing: 20%;
    }

    &__title-decoration {
        display: inline-block;
        height: rem(1px);
        width: rem(80px);
        background-color: #525596;
    }

    &__title {
        font-weight: bold;
        font-size: rem(60px);
    }

    &__description {
        font-size: rem(26px);
        letter-spacing: 2%;
        line-height: 160%;
        margin-bottom: rem(20px);

        &:last-of-type {
            margin: 3rem 0;
        }
    }

    &__btn {
        --btn-padding-x: 0;
        --btn-padding-y: 0;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        border: rem(1px) solid #f48c06;
        border-radius: rem(40px);
        background-color: transparent;
        color: #f48c06;
    }

    &__btn-text {
        display: inline-block;
        margin-left: rem(47.5px);
        margin-right: rem(25px);
        font-size: rem(22px);
        letter-spacing: 2%;
    }

    &__btn-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(80px);
        height: rem(80px);
        border: rem(1px) solid #f48c06;
        border-radius: 50%;
        margin-right: rem(-1px);
        margin-top: rem(-1px);
        margin-bottom: rem(-1px);
    }

    &__btn-icon {
        width: 25px !important;
        height: 25px !important;
        fill: #f48c06 !important;
    }

    &__slider {
        height: rem(890px);
        width: rem(760px);
    }

    &__slider-content {
        position: relative;
        border-radius: var(--card-radius);
        overflow: unset !important;
    }

    &__reviewer-img {
        border-radius: var(--card-radius);
        overflow: hidden;
        display: inline-flex;
        height: rem(690px);
    }

    &__review {
        position: absolute;
        background-color: var(--color-panel);
        box-shadow: var(--box-shadow-v2);
        bottom: rem(50px);
        left: rem(70px);
        width: 86%;
        overflow: hidden;
        padding: 2rem 0;
        border-radius: var(--card-radius);

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: rem(15px);
            background: #f67766;
        }
    }

    &__review-text {
        position: relative;
        font-size: rem(22px);
        letter-spacing: 2%;
        line-height: 180%;
        padding: 0rem 3rem 0rem 5rem;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 3rem;
            height: 100%;
            width: rem(1px);
            background: #bdbdd1;
        }
    }

    &__review-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem 0rem 5rem;
        flex-wrap: wrap;
    }
    &__reviewer-name,
    &__stars-count {
        font-weight: 600;
    }
    &__rating {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    &__stars {
        display: flex;
    }

    &__star-icon {
        fill: #f9bb1c;
    }

    &__stars-count {
        font-size: rem(18px);
        line-height: 180%;
        letter-spacing: 2%;
        font-weight: 500;
    }

    &__slider-controls {
        position: absolute;
        top: 30%;
        transform: translate(50%, 50%);
        right: 10%;
    }

    &__slider-arrow {
        background-color: var(--color-panel);
        box-shadow: var(--box-shadow-v2);
        width: rem(80px);
        height: rem(80px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &__arrow-icon {
        stroke: #1ea4ce !important;
        fill: none !important;
    }

    &__reviewer-title {
        font-size: rem(40px);
        letter-spacing: 5%;
    }

    &__reviewer-form {
        display: flex;
        flex-direction: column;
    }

    &__reviewer-label {
        margin-bottom: rem(20px);
        text-align: center;
        font-size: rem(30px);
    }

    &__reviewer-group {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(30px);
    }

    &__reviwer-stars {
        text-align: center;
    }

    @media (max-width: 1350px) {
        &__container {
            gap: rem(20px);
        }

        &__content {
            width: 40%;
        }

        &__reviews {
            width: 60%;
        }
    }

    @media (max-width: 1280px) {
        &__reviews {
            width: 50%;
        }

        &__content {
            width: 100%;
            margin-bottom: rem(60px);
        }

        &__description {
            margin: 0;
        }

        &__reviewer-name {
            font-size: rem(25px);
        }

        &__container {
            flex-direction: column;
            align-items: center;
        }
    }

    @media (max-width: 1024px) {
        &__reviews {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    @media (max-width: 768px) {
        &__review {
            left: 0;
            width: 96%;
            box-shadow: 6px 10px 10px 0 #252c7130 !important;
        }

        &__slider-content {
            display: flex;
            flex-direction: column;
        }

        &__reviewer-img {
            display: inline-block;
            width: rem(250px);
            height: rem(250px);
            margin-bottom: rem(20px);
        }

        &__review {
            position: static;
            width: 100%;
        }

        &__slider-controls {
            position: absolute;
            top: 0;
            transform: translate(-50%, 50%);
            right: unset;
            right: 0;
        }
    }

    @media (max-width: 480px) {
        &__btn-text {
            margin-left: rem(10px);
            margin-right: rem(5px);
        }
    }
}
