@import "functions.scss";
@import "lib/animation/animation.scss";

/* UI blocks */

@import "blocks/modal/modal.scss";
@import "blocks/signup/signup.scss";
@import "blocks/rating/rating.scss";
@import "blocks/input/input.scss";
@import "blocks/menu/menu.scss";
@import "blocks/screencard/screencard.scss";
@import "blocks/videocall/videocall.scss";
@import "blocks/slider/slider.scss";
@import "./blocks/button/button.scss";
@import "./blocks/logo/logo.scss";
@import "./blocks/burgerbutton/burgerbutton.scss";
@import "./blocks/badge/badge.scss";
@import "./blocks/boxicon/boxicon.scss";
@import "./blocks/bulb/bulb.scss";
@import "./blocks/header/header.scss";
@import "./blocks/intro/intro.scss";
@import "./blocks/brands/brands.scss";
@import "./blocks/software/software.scss";
@import "./blocks/about/about.scss";
@import "./blocks/classroom/classroom.scss";
@import "./blocks/features/features.scss";
@import "./blocks/tools/tools.scss";
@import "./blocks/quiz/quiz.scss";
@import "./blocks/gradebook/gradebook.scss";
@import "./blocks/discussions/discussion.scss";
@import "./blocks/integration/integration.scss";
@import "./blocks/testimonial/testimonial.scss";
@import "./blocks/news/news.scss";
@import "./blocks/footer/footer.scss";

:root {
    --white: #ffffff;
    --black: #000000;
    --color-panel: var(--white);
    --color-screen-body: #f4f4f4;
    --color-screen-header: #eaeaea;
    --color-bg: var(--white);
    --accent-primary: #65daff;
    --accent-warning: #f48c06;
    --accent-success: #f48c06;
    --accent-yellow: #f9bb1c;
    --accent-info: #2f327d;
    --accent-danger: #e13468;
    --gap: 1rem;
    --radius: 8px;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08);
    --container: min(100% - 2rem, 1200px);
    --btn-radius: 5rem;
    --card-radius: 20px;
    --box-shadow-v1: 0 10px 60px 0 #262d7615;
    --box-shadow-v2: 0 16px 40px 0 #252c7130;
    --text-size: 24px;
    --text-color: #696984;
    --text-color: #696984;
    --menu-text-color: #252641;
    --heading-text-color: #2f327d;
    --intro-bg: #fff2e1;
    --modal-radius: 40px;
}
.theme-dark {
    --color-panel: #5b6587;
    // --color-panel: #474e68;
    --color-bg: #404258;
    --heading-text-color: #dddee1;
    --intro-bg: #ffcc99;
    --text-color: #a2aeb7;
    --color-screen-body: #616577;
    --color-screen-header: #9296a7;
    --menu-text-color: #fff;
    --box-shadow-v1: 0 10px 20px 0 #65daff20;
    --box-shadow-v2: 0 16px 20px 0 #65daff30;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html:has(.header--extended) {
    overflow: hidden;
}
body {
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        sans-serif;
    line-height: 180%;
    letter-spacing: 2%;
    font-size: var(--text-size);
    color: var(--text-color);
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
section {
    margin-bottom: 170px;
}
img,
picture {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    font: inherit;
    cursor: pointer;
    border: none;
    background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-text-color);
    letter-spacing: 0;
    /* line-height: 140%; */
}
h2 {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 180%;
}
h3 {
    font-size: 36px;
    line-height: 160%;
    font-weight: 500;
}
.main {
    flex: 1;
}

.text-warning {
    color: var(--accent-warning);
}

[class*="__container"] {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 rem(24px);
}
.section-title {
    text-align: center;
}
.section-description {
    text-align: center;
}
.icon {
    width: rem(20px);
    height: rem(20px);
}
.icon--fill-none {
    --fill: none;
}
.icon--fill-white {
    --fill: white;
}
.icon--fill {
    fill: var(--fill);
}
.icon--sroke {
    stroke: var(--stroke);
}
.text {
    font-size: rem(24px);
    line-height: 180%;
    color: var(--text-color);
}
h1 {
    font-size: rem(54px);
    line-height: 150%;
}
h2 {
    font-size: rem(36px);
    line-height: 180%;
}
h3 {
    font-size: rem(30px);
    line-height: auto;
}
h4 {
    font-size: rem(22px);
    line-height: auto;
}
h5 {
    font-size: rem(20px);
    line-height: 180%;
}
.animation-popup--hide {
    --anim-popup-shift: 120px;
    opacity: 0;
    transform: translateY(var(--anim-popup-shift));
}

.animation-popup--show {
    --anim-popup-delay: 0.2s;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 1.2s;
    transition-delay: var(--anim-popup-delay);
}
.animation-popup--grow-down {
    --anim-popup-shift: 20px;
    opacity: 0;
    transform: translateY(var(--anim-popup-shift)) scale(0);
}

.animation-popup--grow-up {
    --anim-popup-delay: 0.2s;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition-duration: 1s;
    transition-delay: var(--anim-popup-delay);
}
.animation-popup--flip-y-hide {
    opacity: 0;
    transform: rotateY(-90deg);
}

.animation-popup--flip-y-show {
    --anim-popup-delay: 0.2s;
    opacity: 1;
    transform: rotateY(0deg);
    transition-duration: 1s;
    transition-delay: var(--anim-popup-delay);
}

a {
    font-size: rem(22px);
}
.reset-scroll-btn {
    --size: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-20%, 200%) rotate(-90deg);
    width: var-to-rem(--size);
    height: var-to-rem(--size);
    background-color: var(--color-panel);
    box-shadow: var(--box-shadow-v1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-duration: 0.2s;
}
.reset-scroll-btn--show {
    transform: translate(-20%, -50%) rotate(-90deg);
    transition-duration: 0.2s;
    cursor: pointer;
}
@media (max-width: 1600px) {
    html {
        font-size: 18px;
    }
}
@media (max-width: 1280px) {
    html {
        font-size: 17px; /* Все rem размеры уменьшатся пропорционально */
    }
    h1 {
        font-size: rem(44px);
        line-height: 160%;
    }
    h2 {
        font-size: rem(34px);
        line-height: 160%;
    }
    h3 {
        font-size: rem(28px);
    }

    .text {
        font-size: rem(22px);
    }
    a {
        font-size: rem(20px);
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 16px;
    }
    h1 {
        line-height: 120%;
    }
    h4 {
        font-size: rem(20px);
        line-height: auto;
    }
    h5 {
        font-size: rem(18px);
        line-height: 180%;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 15px;
    }
    h1 {
        font-size: rem(38px);
        line-height: 110%;
    }
    h4 {
        font-size: rem(18px);
        line-height: auto;
    }
    .text {
        font-size: rem(20px);
    }
    [class*="__container"] {
        max-width: unset;
    }
}
@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
    [class*="__container"] {
        max-width: var(--container);
        margin: 0 auto;
        padding: 0 rem(12px);
    }
}
