/* UI blocks */
@import url("blocks/videocall/videocall.css");
@import url("blocks/slider/slider.css");
@import url("./blocks/button/button.css");
@import url("./blocks/logo/logo.css");
@import url("./blocks/notification/notification.css");
@import url("./blocks/boxicon/boxicon.css");
@import url("./blocks/bulb/bulb.css");
/* Page sections */
@import url("./blocks/header/header.css");
@import url("./blocks/intro/intro.css");
@import url("./blocks/brands/brands.css");
@import url("./blocks/software/software.css");
@import url("./blocks/about/about.css");
@import url("./blocks/classroom/classroom.css");
@import url("./blocks/features/features.css");
@import url("./blocks/tools/tools.css");
@import url("./blocks/quiz/quiz.css");
@import url("./blocks/badge/badge.css");
@import url("./blocks/discussions/discussion.css");
@import url("./blocks/news/news.css");

:root {
    --white: #ffffff;
    --black: #000000;
    --color-bg: var(--white);
    --accent-primary: #65daff;
    --accent-warning: #f48c06;
    --accent-info: #2f327d;
    --gap: 1rem;
    --radius: 8px;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08);
    --container: min(100% - 2rem, 1200px);
    --btn-radius: 5rem;
    --card-radius: 20px;
    --box-shadow-v1: 0 10px 60px 0 #262d7615;
    --box-shadow-v2: 0 16px 40px 0 #252c7130;
    --text-size: 24px;
    --text-color: #696984;
    --menu-text-color: #252641;
    --heading-text-color: #2f327d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        sans-serif;
    line-height: 180%;
    letter-spacing: 2%;
    font-size: var(--text-size);
    color: var(--text-color);
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
section {
    margin-bottom: 170px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
ul {
    list-style: none;
}
a {
    /* text-decoration: none; */
    color: inherit;
}
button {
    font: inherit;
    cursor: pointer;
    border: none;
    background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-text-color);
    letter-spacing: 0;
    /* line-height: 140%; */
}
h2 {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 180%;
}
h3 {
    font-size: 36px;
    line-height: 160%;
    font-weight: 500;
}
.main {
    flex: 1;
}

.text-warning {
    color: var(--accent-warning);
}

[class*="__container"] {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 24px;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px; */
}
.section-title {
    text-align: center;
}
.section-description {
    text-align: center;
}
.link {
    font-size: 22px;
    /* color: var(--text-color); */
}
