@import url("./blocks/button/button.css");
@import url("./blocks/logo/logo.css");
@import url("./blocks/notification/notification.css");
@import url("./blocks/header/header.css");
@import url("./blocks/intro/intro.css");

:root {
    --white: #ffffff;
    --black: #000000;
    --color-bg: var(--white);
    --accent-primary: #65daff;
    --accent-warning: #f48c06;
    --accent-info: #2f327d;
    --gap: 1rem;
    --radius: 8px;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08);
    --container: min(100% - 2rem, 1200px);
    --btn-radius: 5rem;
    --card-radius: 20px;
    --box-shadow-v1: 0 10px 60px 0 #262d7615;
    --box-shadow-v2: 0 16px 40px 0 #252c7130;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        sans-serif;
    line-height: 1.5;
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    font: inherit;
    cursor: pointer;
    border: none;
    background: transparent;
}
.main {
    flex: 1;
}

.text-warning {
    color: var(--accent-warning);
}

[class*="__container"] {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
