@import url('blocks/brands/brands.css');
@import url('blocks/software/software.css');
/* Reset and base styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --container:1200px;
    --card-radius:20px;
    --box-shadow-v1:0 10px 60px 0 #262D7615;
    --box-shadow-v2:0 16px 40px 0 #252C7130;
    --warning:#F48C06;
    --primary:#29B9E7;
    --info:#5B72EE

}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
} */

 [class*="__container"] {
  width:var(--container);
  margin:0 auto
 }