/* Utils functions */
@function rem($px-value, $base-font-size: 20px) {
    @if unitless($px-value) {
        $px-value: $px-value * 1px;
    }

    @if unitless($base-font-size) {
        $base-font-size: $base-font-size * 1px;
    }

    @return ($px-value / $base-font-size) * 1rem;
}
/* UI blocks */
// @import url("blocks/videocall/videocall.scss");
// @import url("blocks/slider/slider.scss");
@import "./blocks/button/button.scss";
@import "./blocks/logo/logo.scss";
@import "./blocks/burgerbutton/burgerbutton.scss";
// @import url("./blocks/notification/notification.scss");
// @import url("./blocks/boxicon/boxicon.scss");
// @import url("./blocks/bulb/bulb.scss");
/* Page sections */
@import "./blocks/header/header.scss";
@import "./blocks/intro/intro.scss";
@import "./blocks/brands/brands.scss";
@import "./blocks/software/software.scss";
// @import url("./blocks/about/about.scss");
// @import url("./blocks/classroom/classroom.scss");
// @import url("./blocks/features/features.scss");
// @import url("./blocks/tools/tools.scss");
// @import url("./blocks/quiz/quiz.scss");
// @import url("./blocks/badge/badge.scss");
// @import url("./blocks/discussions/discussion.scss");
// @import url("./blocks/news/news.scss");
// @import url("./blocks/testimonial/testimonial.scss");
// @import url("./blocks/integration/integration.scss");
@import "./blocks/footer/footer.scss";
// @import url("./blocks/gradebook/gradebook.scss");

:root {
    --white: #ffffff;
    --black: #000000;
    --color-panel: var(--white);
    --color-bg: var(--white);
    --accent-primary: #65daff;
    --accent-warning: #f48c06;
    --accent-info: #2f327d;
    --gap: 1rem;
    --radius: 8px;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.08);
    --container: min(100% - 2rem, 1200px);
    --btn-radius: 5rem;
    --card-radius: 20px;
    --box-shadow-v1: 0 10px 60px 0 #262d7615;
    --box-shadow-v2: 0 16px 40px 0 #252c7130;
    --text-size: 24px;
    --text-color: #696984;
    --menu-text-color: #252641;
    --heading-text-color: #2f327d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
    scroll-behavior: smooth;
    // overflow: hidden;
}
html:has(.header--extended) {
    overflow: hidden;
}
body {
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        sans-serif;
    line-height: 180%;
    letter-spacing: 2%;
    font-size: var(--text-size);
    color: var(--text-color);
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    // height: 100vh;
    // overflow: auto;
    min-height: 100vh;
}
section {
    margin-bottom: 170px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    font: inherit;
    cursor: pointer;
    border: none;
    background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-text-color);
    letter-spacing: 0;
    /* line-height: 140%; */
}
h2 {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 180%;
}
h3 {
    font-size: 36px;
    line-height: 160%;
    font-weight: 500;
}
.main {
    flex: 1;
}

.text-warning {
    color: var(--accent-warning);
}

[class*="__container"] {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 rem(24px);
}
.section-title {
    text-align: center;
}
.section-description {
    text-align: center;
}
.link {
    font-size: 22px;
    /* color: var(--text-color); */
}
.text {
    font-size: rem(24px);
    line-height: 180%;
}
h1 {
    font-size: rem(54px);
    line-height: auto;
}
h2 {
    font-size: rem(36px);
    line-height: 180%;
}
h3 {
    font-size: rem(30px);
    line-height: auto;
}
@media (max-width: 1600px) {
    html {
        font-size: 18px;
    }
}
@media (max-width: 1280px) {
    html {
        font-size: 17px; /* Все rem размеры уменьшатся пропорционально */
    }
    h1 {
        font-size: rem(44px);
        line-height: 160%;
    }
    h2 {
        font-size: rem(34px);
        line-height: 160%;
    }
    h3 {
        font-size: rem(28px);
    }
    .text {
        font-size: rem(22px);
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 16px;
    }
    h1 {
        line-height: 120%;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 15px;
    }
    h1 {
        font-size: rem(38px);
        line-height: 110%;
    }
    .text {
        font-size: rem(20px);
    }
}
@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
    [class*="__container"] {
        max-width: var(--container);
        margin: 0 auto;
        padding: 0 rem(12px);
    }
}
