.software__container {
    --container: 1470px;
}

.software__title,
.software__description {
    text-align: center;
}
.software__description {
    margin-bottom: rem(160px);
}
.software__card-list {
    display: flex;
    justify-content: space-between;
    gap: rem(20px);
    align-items: stretch;
}

.software__card-item {
    position: relative;
    padding: rem(125px) rem(35px) rem(50px) rem(35px);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(450px);
    border-radius: var(--card-radius);
    box-shadow: var(--box-shadow-v1);
    justify-content: center;
    margin-bottom: rem(50px);
}

.software__card-item__icon {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    box-shadow: var(--box-shadow-v2);
}

.software__card-item__icon img {
    width: 50%;
    height: 50%;
}

.software__card-item__icon--warning {
    background-color: var(--accent-warning);
}

.software__card-item__icon--primary {
    background-color: var(--accent-primary);
}

.software__card-item__icon--info {
    background-color: var(--accent-info);
}
.software__card-item__title,
.software__card-item__text {
    text-align: center;
}
.software__card-item__text {
    line-height: 180%;
}
.software__card-item__title {
    // font-size: rem(30px);
    margin-bottom: rem(35px);
}

.software__card-item__text {
    font-size: rem(20px);
}

@media (max-width: 1280px) {
    .software__card-list {
        align-items: center;
        flex-direction: column;
    }
    .software__card-item {
        flex-shrink: 0;
        flex-basis: rem(500px);
    }
}
