.header {
    position: fixed;
    width: 100%;
    padding: rem(16px);
    z-index: 1000;
    transition: height 0.3s ease;
    height: min-content;

    &--fill {
        background: rgba(255, 255, 255, 0.85);
        box-shadow: 0px rem(10px) rem(10px) rem(10px) #00000015;

        @supports (backdrop-filter: blur(1px)) {
            background: rgba(255, 255, 255, 0.56);
            backdrop-filter: blur(rem(22px)) saturate(30%);
            -webkit-backdrop-filter: blur(rem(22px)) saturate(30%);

            .theme-dark & {
                background: rgba(165, 178, 225, 0.26);
                backdrop-filter: blur(rem(22px)) saturate(30%);
                -webkit-backdrop-filter: blur(rem(22px)) saturate(30%);
                box-shadow: 0px rem(10px) rem(40px) #65daff45;
            }
        }
    }

    &--hide {
        transform: translateY(-150%);
        transition-property: transform;
        transition-duration: 0.3s;
    }

    &--extended {
        height: 100%;
        transition: height 0.3s ease;
        background-color: var(--color-panel);
        overflow: hidden;
    }

    &__container {
        --container: 1680px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-size: rem(32px);
        font-weight: 700;
        letter-spacing: 4%;
        color: #111;
        text-decoration: none;
        flex-shrink: 0;
    }

    &__nav {
        display: flex;
        justify-content: center;

        &--right {
            margin-left: auto;
        }

        &-list {
            margin-top: rem(30px);
            margin-right: 0;
            width: 100%;
            gap: rem(30px);
            flex-direction: column;
        }
    }

    &__menu-link {
        --color-text: #4b5563;
    }

    &__actions {
        display: flex;
        gap: rem(30px);
        flex-shrink: 0;
        margin-right: rem(30px);
    }

    &__btn {
        font-size: rem(22px);
        letter-spacing: 2%;
    }
    &__btn-login {
        box-shadow: var(--box-shadow-v1);
        // padding: rem(18px) rem(50px);
        font-family: "Poppins", system-ui, sans-serif;
        font-weight: 400;
    }
    &__sign-up {
        --btn-padding-x: 36.1px;
        font-family: "Poppins", system-ui, sans-serif;
        font-weight: 400;
    }
    &__burgerbutton {
        margin-right: rem(15px);
        display: none;
    }

    &__sun-icon {
        fill: var(--accent-warning);
    }

    &__moon-icon {
        fill: #b1b1b1;
    }

    @media (max-width: 1690px) {
        .menu__root-list,
        &__actions {
            gap: rem(15px);
            margin-right: rem(15px);
        }
    }

    @media (max-width: 1380px) {
        padding: rem(24px) rem(16px);
        &__btn {
            --btn-padding-y: 13px;
            --btn-padding-x: 20px;
        }

        .intro__watch {
            font-size: rem(20px);
        }

        &__container {
            --row-height: 0;
            display: grid;
            grid-template-columns: auto 1fr auto auto;
            grid-template-rows: min-content var(--row-height, 1fr);
            height: 100%;
            width: 100%;
        }

        &--extended &__container {
            --row-height: 1fr;
        }

        &__nav {
            order: 2;
            width: 100%;
            overflow: auto;
            height: 100%;
            transform: scale(0);
            grid-column: 1 / -1;
            transition: transform 0.3s ease;
        }

        &--extended &__nav {
            height: 100%;
            overflow: auto;
            transform: scale(1);
            transition: transform 0.3s ease;
        }

        &__burgerbutton {
            margin-right: rem(10px);
            display: inline-flex;
        }

        &__actions {
            margin-left: auto;
            margin-right: rem(10px);
            gap: rem(10px);
        }
    }

    @media (max-width: 1024px) {
    }

    @media (max-width: 768px) {
        &__btn {
            --btn-padding-y: 12px;
            --btn-padding-x: 20px;
        }
    }

    @media (max-width: 480px) {
        &__container {
            grid-template-columns: 1fr auto auto;
        }

        &__actions {
            display: none;
            order: 4;
            justify-content: end;
            width: 100%;
            grid-column: 1 / -1;
        }

        &--extended &__actions {
            display: flex;
        }
    }
}
