.header {
    position: fixed;
    width: 100%;
    padding: rem(16px);
    z-index: 1000;
    transition: height 0.3s ease;
    height: min-content;
}
.header--fill {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px rem(10px) rem(10px) rem(10px) #00000015; /*10px*/
}

.header--hide {
    transform: translateY(-150%);
    transition-property: transform;
    transition-duration: 0.3s;
}
@supports (backdrop-filter: blur(1px)) {
    .header--fill {
        background: rgba(255, 255, 255, 0.26);
        backdrop-filter: blur(rem(10px)) saturate(130%); /*10px*/
        -webkit-backdrop-filter: blur(rem(10px)) saturate(130%);
    }
}

.header__container {
    --container: 1680px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: rem(32px);
    font-weight: 700;
    letter-spacing: 4%;
    color: #111;
    text-decoration: none;
    flex-shrink: 0;
}

.header__nav {
    display: flex;
    justify-content: center;
}
.header__nav--right {
    margin-left: auto;
}
.header__menu-link {
    --color-text: #4b5563;
}

.header__actions {
    display: flex;
    gap: rem(30px);
    flex-shrink: 0;
}
.header__btn {
    font-size: rem(22px);
    letter-spacing: 2%;
    padding: rem(18px) rem(40px);
}
.header__btn-login {
    box-shadow: var(--box-shadow-v1);
    padding: rem(18px) rem(50px);
}
.header__burgerbutton {
    // margin-left: rem(30px);
    display: none;
}
@media (max-width: 1600px) {
    // .header__nav-list {
    //     gap: (40px);
    //     margin-right: rem(30px);
    // }
}
@media (max-width: 1280px) {
    .header__btn {
        padding: rem(9px) rem(20px);
    }
    .intro__watch {
        font-size: rem(20px);
    }
    .header--extended {
        height: 100%;
        transition: height 0.3s ease;
        background-color: var(--color-panel);
        overflow: hidden;
    }
    .header__container {
        --row-height: 0;
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        grid-template-rows: min-content var(--row-height, 1fr);
        height: 100%;
        width: 100%;
    }
    .header--extended .header__container {
        --row-height: 1fr;
    }
    .header__nav {
        order: 2;
        width: 100%;
        overflow: auto;
        height: 100%;
        transform: scale(0);
        grid-column: 1 / -1;
        transition: transform 0.3s ease;
    }
    .header__nav-list {
        margin-top: rem(30px);
        margin-right: 0;
        width: 100%;
    }
    .header--extended .header__nav {
        height: 100%;
        overflow: auto;
        transform: scale(1);
        transition: transform 0.3s ease;
    }
    .header__nav-list {
        gap: (30px);
        flex-direction: column;
    }

    .header__burgerbutton {
        margin-left: rem(10px);
        display: inline-flex;
    }

    .header__actions {
        margin-left: auto;
        gap: rem(10px);
    }
}

@media (max-width: 1024px) {
    // .header--extended {
    //     height: 100%;
    //     transition: height 0.3s ease;
    //     background-color: var(--color-panel);
    //     overflow: hidden;
    // }
    // .header__container {
    //     --row-height: 0;
    //     display: grid;
    //     grid-template-columns: auto 1fr auto;
    //     grid-template-rows: min-content var(--row-height, 1fr);
    //     height: 100%;
    //     width: 100%;
    // }
    // .header--extended .header__container {
    //     --row-height: 1fr;
    // }
    // .header__nav {
    //     order: 2;
    //     width: 100%;
    //     overflow: auto;
    //     height: 100%;
    //     transform: scale(0);
    //     grid-column: 1 / -1;
    //     transition: transform 0.3s ease;
    // }
    // .header__nav-list {
    //     margin-top: rem(30px);
    //     margin-right: 0;
    //     width: 100%;
    // }
    // .header--extended .header__nav {
    //     height: 100%;
    //     overflow: auto;
    //     transform: scale(1);
    //     transition: transform 0.3s ease;
    // }
    // .header__nav-list {
    //     gap: (30px);
    //     flex-direction: column;
    // }

    // .header__burgerbutton {
    //     display: inline-flex;
    // }

    // .header__actions {
    //     margin-left: auto;
    // }
}

@media (max-width: 768px) {
}
@media (max-width: 480px) {
    .header__container {
        grid-template-columns: 1fr auto;
    }
    .header__actions {
        display: none;
        order: 4;
        justify-content: end;
        width: 100%;
        grid-column: 1 / -1;
    }
    .header--extended .header__actions {
        display: flex;
    }
}
