.header {
    position: fixed;
    width: 100%;
    padding: rem(16px);
    z-index: 1000;
    transition-duration: 0.3s; 
}
.header--fill {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px rem(10px) rem(10px) rem(10px) #00000015; /*10px*/
}
.header--hide {
    transform: translateY(-150%);
    transition-property: transform;
    transition-duration: 0.3s;
}
@supports (backdrop-filter: blur(1px)) {
    .header--fill {
        background: rgba(255, 255, 255, 0.26);
        backdrop-filter: blur(rem(10px)) saturate(130%); /*10px*/
        -webkit-backdrop-filter: blur(rem(10px)) saturate(130%);
    }
}

.header__container {
    --container: 1680px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Логотип */
.header__logo {
    font-size: rem(32px);
    font-weight: 700;
    letter-spacing: 4%;
    color: #111;
    text-decoration: none;
    flex-shrink: 0;
}

/* Навигация */
.header__nav {
    display: flex;
    justify-content: center;
}
.header__nav--right {
    margin-left: auto;
}
.header__nav-list {
    display: flex;
    list-style: none;
    gap: rem(70px);
    align-items: center;
    margin-right: rem(80px);
}

.header__nav-link {
    text-decoration: none;
    color: #4b5563;
    font-weight: 500;
    font-size: rem(22px);
    letter-spacing: 2%;
    transition: color 0.2s ease;
}

.header__nav-link:hover {
    color: #111;
}

/* Блок действий (кнопки) */
.header__actions {
    display: flex;
    gap: rem(30px);
    flex-shrink: 0; 
}
.header__btn {
    font-size: rem(22px);
    letter-spacing: 2%;
    padding: rem(18px) rem(40px);
}
.header__btn-login {
    box-shadow: var(--box-shadow-v1);
    padding: rem(18px) rem(50px);
}
.header__burgerbutton{
    margin-left: rem(30px);
}

@media (max-width: 1024px) {
    .header__nav{ 
        display: none;
    }
    .header__actions {
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    .header__actions {
        gap:rem(10px)
    }
    .header__burgerbutton{
        margin-left: rem(10px);
    }
}
@media (max-width: 480px) {
    .header__actions {
        display:none
    }
}