.burgerbutton {
    background-color: white;
    padding: rem(21px);
    border-radius: var(--card-radius);
    box-shadow: var(--box-shadow-v1);
    display: flex;
    flex-direction: column;
    gap: rem(6px);

    &__line {
        width: rem(30px);
        height: 1px;
        background-color: #4b5563;
        // margin: 1px;
        // &:not(:last-child) {
        //     margin-bottom: 1px;
        // }
    }
    &--open {
    }
}
