.burgerbutton {
    background-color: white;
    padding: 0.8rem 0.5rem;
    border-radius: rem(9px);
    box-shadow: var(--box-shadow-v1);
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    &__line {
        width: rem(30px);
        height: 1px;
        background-color: #4b5563;
    }
}
