.sign-up {
    &__content {
        padding: 0;
    }

    &__wrapper {
        display: flex;
        gap: rem(20px);
    }

    &__content-wrapper {
        padding: rem(15px) rem(15px) rem(15px) 0;
    }

    &__image-wrapper {
        width: rem(400px);
    }

    &__image {
        height: 100%;
        object-fit: fill;
    }

    &__title {
        margin: 0;
    }

    &__divider {
        width: 50%;
        margin-bottom: rem(20px);
    }

    &__footer {
        margin-top: rem(30px);
    }
    @media (max-width: 768px) {
        &__wrapper {
            padding: rem(20px);
        }
        &__image-wrapper {
            display: none;
        }
    }
}
