.gradebook {
}

.gradebook__container {
    --container: 1580px;
    display: flex;
    gap: rem(190px);
}
.gradebook__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gradebook__title,
.gradebook__description {
    text-align: start !important;
}
.gradebook__title {
    max-width: rem(393px);
}
.gradebook__description {
    max-width: rem(600px);
}

.gradebook__picture {
}
.gradebook__picture__background {
    position: relative;
    width: rem(700px);
}
.gradebook__picture__background:before {
    content: "";
    position: absolute;
    bottom: -5%;
    left: -3%;
    width: rem(288px);
    height: rem(207px);
    background-color: #d3e7ff;
    border-radius: rem(20px);
    z-index: -1;
}
.gradebook__picture__wave-decor {
    position: absolute;
    bottom: 5%;
    left: 0;
    transform: translateX(-50%);
}
.gradebook__picture__bulb-decor {
    --size: rem(44px);
    --top: -14%;
    --right: 2%;
    position: absolute;
    background-color: #9fd7ff;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    top: var(--top);
    right: var(--right);
}

.gradebook__picture__boxicon {
    position: absolute;
    --size: rem(110px);
    --top: -12%;
    --left: -5%;

    top: var(--top);
    left: var(--left);
}
.gradebook__picture__boxicon--right {
    --size: rem(79px);
    --top: 10%;
    --left: 88%;
}
.gradebook__picture__bulb-decor--small {
    --size: rem(20px);
    --top: -5%;
    --right: -3%;
}
.gradebook__picture__wrapper {
    border-radius: var(--card-radius);
    overflow: hidden;
    background: #fff;
    box-shadow: var(--box-shadow-v2);
}

.gradebook__picture__header {
    background: #54aff0;
    color: #fff;
    text-align: center;
    padding: rem(13px) 0;
}
.gradebook__picture__body {
    padding-top: rem(50px);
}
.gradebook__picture__row {
    display: flex;
}
.gradebook__picture__row:not(:last-child) {
    margin-bottom: rem(50px);
}
.gradebook__picture__col {
    --flex-direction: row;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: var(--flex-direction);
}
.gradebook__picture__col--blue {
    --tail-bg: #3ac6f2;
    --badge-bg: #cdf3ff;
    --badge-color: #43869b;
    --badge-top: 70%;
    --badge-left: 70%;
    --left-shift: rem(-10px);
    --tail-width: rem(100px);
}
.gradebook__picture__col--purple {
    --tail-bg: #3189ef;
    --badge-bg: #cde4ff;
    --badge-color: #486f9c;
    --badge-top: 80%;
    --badge-left: 20%;
    --right-shift: rem(-10px);
    --tail-width: rem(250px);
    --flex-direction: row-reverse;
    transform: translateY(-10%);
}
.gradebook__picture__col--green {
    --tail-bg: #68f146;
    --badge-bg: #d7ffcd;
    --badge-color: #4e8c3f;
    --badge-top: 70%;
    --badge-left: 70%;
    --left-shift: rem(-10px);
    --tail-width: rem(250px);
}
.gradebook__picture__col--red {
    --tail-bg: #f13c3c;
    --badge-bg: #ffcdcd;
    --badge-color: #9e5555;
    --badge-top: 70%;
    --badge-left: -20%;
    --right-shift: rem(-10px);
    --tail-width: rem(120px);
    --flex-direction: row-reverse;
    transform: translateY(-50%);
}
.gradebook__picture__tail {
    width: var(--tail-width);
    height: rem(30px);
    background-color: var(--tail-bg);
}

.gradebook__picture__avatar {
    position: relative;
    margin-left: var(--left-shift);
    margin-right: var(--right-shift);
}
.gradebook__picture__badge {
    position: absolute;
    top: var(--badge-top);
    left: var(--badge-left);
    background-color: var(--badge-bg);
    color: var(--badge-color);
    font-size: rem(22px);
    padding: 0 rem(20px);
    border-radius: rem(40px);
}
.gradebook__picture__avatar img {
    border-radius: 50%;
}

.gradebook__picture__footer {
    text-align: end;
    padding: rem(20px) rem(50px);
    border-radius: 0 0 var(--card-radius) var(--card-radius);
}
.gradebook__picture__btn {
    position: relative;
    display: inline-flex;
    border-radius: rem(60px);
    background: linear-gradient(
        51deg,
        rgba(84, 90, 231, 1) 0%,
        rgba(57, 63, 207, 1) 100%
    );
    color: white;
    padding: rem(4px) rem(40px);
    z-index: 2;
}
.gradebook__picture__btn:after {
    content: "";
    position: absolute;
    background-color: #545ae870;
    width: 100%;
    height: 100%;
    left: 0;
    top: 20%;
    z-index: -1;
    filter: blur(rem(10px));
    -webkit-filter: blur(rem(10px));
    border-radius: rem(60px);
    font-size: rem(20px);
}
