.features__container {
    --container: 1500px;
}

.features__description {
    margin-bottom: rem(100px);
}

.features__content {
    display: flex;
    gap: rem(100px);
}

.features__screen-title {
    margin-bottom: rem(60px);
}

.features__list-item {
    display: flex;
    align-items: center;
}

.features__list-item:not(:last-child) {
    margin-bottom: rem(40px);
}

.features__list-item span {
    display: inline-flex;
    flex-shrink: 0;
    width: rem(60px);
    height: rem(60px);
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-v2);
    background-color: var(--white);
    border-radius: 100%;
    margin-right: rem(35px);
}

.features__list-icon {
    width: rem(28px) !important;
    height: rem(28px) !important;
}

.features__list-icon--users {
    fill: #2f327d !important;
}

.features__screen {
    position: relative;
    flex-basis: 55%;
}

.features__screen-description {
    flex-basis: 45%;
    padding-left: 5rem;
}

.features__screen-wrapper {
    width: 50%;
}
.features__screen-decription {
    width: 50%;
}

.features__screencard-body {
    display: flex;
    gap: rem(55px);
}

.features__video--main {
    height: 100%;
    width: 50%;
}
.features__video-grid {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(20px);
}
.features__videocall-main {
    max-width: rem(255px);
    max-height: rem(255px);
    margin-bottom: rem(40px);
}

.features__videocall {
    aspect-ratio: 1/1;
}
// .features__video-item-btns {
//     width: rem(255px);
//     height: rem(255px);
//     /* border-radius: var(--card-radius); */
//     /* overflow: hidden; */
// }

.features__videocall--xs {
    width: rem(160px);
    height: rem(160px);
}

.features__videocall--md {
    width: rem(200px);
    height: rem(200px);
}

.features__videocall--main {
    margin-right: 3rem;
    margin-bottom: 2.5rem;
}

.features__video-item-btns {
    display: flex;
    gap: 1.5rem;
}

.features__video-item-btn {
    font-size: rem(22px);
    font-weight: 500;
    width: rem(150px);
    white-space: nowrap;
}

.features__video-item-btn--info {
    background-color: #3465e1;
    padding: 0.25rem 1.5rem;
    font-size: rem(22px);
    font-weight: bold;
    color: white;
    border-radius: var(--btn-radius);
    box-shadow: 0px rem(8.5px) rem(20.4px) 0px #3465e130;
}

.features__video-item-btn--danger {
    background-color: #e13468;
    padding: 0.25rem 1.5rem;
    font-size: rem(22px);
    font-weight: bold;
    color: white;
    border-radius: var(--btn-radius);
    box-shadow: 0px 0 0 rem(8px) #e1346830;
}

.features__videocall-col1 {
    transform-origin: top left;
    transform: scale(1.4);
}
.features__videocall-col2 {
    transform: translate(87%, 10%) scale(1.5);
}

.features__videocall-col3 {
    transform-origin: top left;
    transform: scale(1.4) translateY(31%);
}
.features__videocall-col4 {
    transform: translate(90%, 91%) scale(1.8);
}
@media (max-width: 1600px) {
    .features__content {
        gap: rem(150px);
    }
}
// .features__call-icon {
//     width: rem(17px) !important;
//     height: rem(17px) !important;

// }

@media (max-width: 1280px) {
    .features__content {
        flex-direction: column;
        gap: rem(150px);
        align-items: center;
    }
    .features__screen-wrapper {
        width: 65%;
    }

    .features__screen {
        order: 2;
        align-self: center;
    }

    .features__screen-description {
        align-self: center;
        padding: 0 rem(20px);
    }
}

@media (max-width: 1024px) {
    .features__screen-description {
        align-self: start;
    }

    .features__videocall-col {
        transform: unset;
    }
    .features__screen-wrapper {
        width: 100%;
    }
    .features__videocall-main {
        max-height: rem(500px);
        max-width: unset;
    }
}
@media (max-width: 768px) {
    .features__screencard-body {
        flex-direction: column;
        align-items: center;
    }
    .features__video-grid,
    .features__video--main {
        width: 100%;
    }
    .features__video--main {
        display: flex;
        flex-direction: column;
    }
    .features__video-item-btns {
        justify-content: center;
    }
}
