.features__container {
    --container: 1500px;
}
.features__description {
    margin-bottom: rem(100px);
}

.features__content {
    display: flex;
    gap: rem(50px);
}
.features__screen-title {
    margin-bottom: rem(60px);
}
.features__screen-list-item {
    display: flex;
    align-items: center;
}
.features__screen-list-item:not(:last-child) {
    margin-bottom: rem(40px);
}
.features__screen-list-item span {
    display: inline-flex;
    flex-shrink: 0;
    width: rem(60px);
    height: rem(60px);
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-v2);
    background-color: var(--white);
    border-radius: 100%;
    margin-right: rem(35px);
}

.features__screen {
    position: relative;
    flex-basis: 55%;
}
.features__screen-description {
    flex-basis: 45%;
    padding-left: 5rem;
}
.features__screen-interface {
    /* width: ; */
}
.features__video-list {
    position: absolute;
    display: flex;
    top: 5rem;
    left: 2rem;
}
.features__video-v-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
}
.features__video-v-list--centered {
    align-items: center;
}
.features__video-v-list--shift-top {
    transform: translateY(rem(-20px));
}
.features__videocall {
    width: rem(255px);
    height: rem(255px);
    /* border-radius: var(--card-radius); */
    /* overflow: hidden; */
}
.features__videocall--xs {
    width: rem(160px);
    height: rem(160px);
}
.features__videocall--md {
    width: rem(200px);
    height: rem(200px);
}
.features__videocall-main {
    margin-right: 3rem;
}
.features__videocall-main {
    margin-bottom: 2.5rem;
}
.features__video-item-main img {
    /* box-shadow: 0px 8.5px 20.4px 0px #00000030; */
}
.features__video-item-btns {
    display: flex;
    gap: 1.5rem;
}
.features__video-item-btn {
    font-size: rem(22px);
    /* padding: 0.7rem 1.5rem; */
    font-weight: 500;
    width: rem(150px);
}
.features__video-item-btn--info {
    background-color: #3465e1;
    padding: 0.25rem 1.5rem;
    font-size: rem(22px);
    font-weight: bold;
    color: white;
    border-radius: var(--btn-radius);
    box-shadow: 0px rem(8.5px) rem(20.4px) 0px #3465e130;
}

.features__video-item-btn--danger {
    background-color: #e13468;
    padding: 0.25rem 1.5rem;
    font-size: rem(22px);
    font-weight: bold;
    color: white;
    border-radius: var(--btn-radius);
    box-shadow: 0px 0 0 rem(8px) #e1346830;
}

@media (max-width: 1280px) {
    .features__content {
        flex-direction: column;
    }
    .features__screen {
        order: 2;
        align-self: center;
    }
    .features__screen-description {
        align-self: center;
        padding: 0 rem(20px);
    }
}
@media (max-width: 1024px) {
    .features__screen-description {
        align-self: start;
    }
}
@media (max-width: 768px) {
    .features__video-v-list--shift-top {
        transform: unset;
    }
    .features__videocall:not(.features__videocall-main) {
        width: rem(160px) !important;
        height: rem(160px) !important;
    }
    // .features__videocall-main{

    // }
}
